@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #ffffff;
}
body h2 {
  font-size: 1.8rem;
  margin-top: 5px;
  color: #000000;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
}

#grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: 0rem 0rem;
}

header {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: sandybrown;
}
header #mobile-nav {
  margin: 0;
  overflow: hidden;
  color: #000000;
  font-size: 2rem;
}
header #mobile-nav .menu {
  margin-right: 40px;
  float: left;
}
header #mobile-nav .navright {
  margin-right: 30px;
  float: right;
}
header #desktop-nav {
  display: none;
}
header a {
  color: #000000;
  text-decoration: none;
}
header span {
  text-transform: uppercase;
  color: #000000;
}

main {
  max-width: 500px;
  min-width: 250px;
  margin: 0 auto;
  padding: 10px;
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  overflow: hidden;
  background-color: ffffff;
}
main #campaign {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
main #campaign img {
  width: 100%;
}
main #campaign a {
  color: #000000;
  border: none;
}
main #flex-container-newp {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem 1rem;
  width: 100%;
  max-width: 500px;
}
main #flex-container-newp article {
  padding: 3px;
  max-width: 150px;
}
main #flex-container-newp article img {
  max-width: 150px;
}
main #flex-container-newp article .products-summary {
  margin: 0;
  text-transform: lowercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
}
main #filter {
  margin-right: 30px;
  font-size: 1.8rem;
  float: right;
  text-align: right;
}
main #productphotos {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem 1rem;
}
main #productphotos img {
  width: 100%;
}
main #productphotos article img {
  max-width: 100px;
  max-height: 100px;
}
main #product-info-first {
  width: 100%;
}
main #product-info-first ul li {
  list-style-type: none;
}
main #product-info-first #add-favorite {
  margin-top: 0;
  float: right;
  font-size: 2rem;
}
main #product-info-first #add-favorite a {
  color: #000000;
}
main #product-info-second {
  width: 100%;
}
main #product-info-second p {
  margin-top: 0;
  margin-bottom: 3rem;
}
main #flex-container-similar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem 1rem;
  width: 100%;
  max-width: 500px;
}
main #flex-container-similar h2 {
  margin-top: 0;
  margin-bottom: 10rem;
}
main #flex-container-similar article {
  padding: 3px;
  max-width: 150px;
}
main #flex-container-similar article img {
  max-width: 150px;
}
main #flex-container-similar article .products-summary {
  margin: 0;
  text-transform: lowercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
}
main #collections-mobile {
  width: 100%;
  margin: 0 auto;
}
main #collections-mobile article img {
  margin-top: 10px;
  padding: 0;
  width: 100%;
}
main #collections-desktop {
  display: none;
}

footer {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  grid-column: 1/2;
  grid-row: 3/4;
  text-align: center;
  background-color: sandybrown;
  font-size: 1rem;
}
footer a {
  color: #000000;
  text-decoration: none;
}
footer h3 {
  color: #000000;
  font-size: 1.5rem;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer input {
  background-color: #000000;
  color: antiquewhite;
  display: block;
  margin: 5px auto;
  width: 150px;
  height: 30px;
}

/* CSS Desktop: Forandringer som skal skje på skjerm */
@media only screen and (min-width: 600px) {
  body #grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto auto;
    gap: 0rem 0rem;
  }
  body header {
    width: 100%;
    padding: 0;
    grid-column: 1/5;
    grid-row: 1/2;
  }
  body header #mobile-nav {
    display: none;
  }
  body header #desktop-nav {
    display: block;
    margin: 0 auto;
  }
  body header #desktop-nav #top-ca {
    margin: 0;
    padding: 5px;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: orangered;
    text-align: center;
  }
  body header #desktop-nav #top-nav {
    margin: 0;
    padding: 20px;
    color: #000000;
    font-size: 2rem;
    overflow: hidden;
  }
  body header #desktop-nav #top-nav .navright {
    margin-right: 30px;
    float: right;
  }
  body header #desktop-nav #bottom-nav {
    margin: 0 auto;
    background-color: rgb(197, 133, 77);
    padding: 4px;
    text-align: center;
  }
  body header #desktop-nav #bottom-nav ul li {
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  body main {
    margin: 0 auto;
    max-width: 1000px;
    grid-column: 2/4;
    grid-row: 2/3;
    justify-self: center;
  }
  body main #campaign {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }
  body main #campaign img {
    width: 100%;
    max-width: 800px;
  }
  body main #flex-container-newp {
    width: 100%;
    max-width: 900px;
  }
  body main #flex-container-newp article {
    max-width: 200px;
  }
  body main #flex-container-newp article img {
    max-width: 200px;
  }
  body main #collections-mobile {
    display: none;
  }
  body main #collections-desktop {
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 0.5rem 0.5rem;
    width: 100%;
  }
  body main #collections-desktop article {
    margin: 0;
    padding: 0;
  }
  body main #collections-desktop article img {
    width: 400px;
    height: 250px;
  }
  body main #grid-product {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1rem 1rem;
    align-content: space-evenly;
    align-self: start;
  }
  body main #productphotos {
    margin: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    max-width: 800px;
  }
  body main #productphotos img {
    width: 100%;
    max-width: 800px;
  }
  body main #productphotos article img {
    max-width: 100px;
    max-height: 100px;
  }
  body main #product-info-first {
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  body main #product-info-first #add-favorite {
    margin-top: 0;
    padding: 0;
    display: inline-block;
    font-size: 2rem;
  }
  body main #product-info-first #add-favorite a {
    color: #000000;
  }
  body main #product-info-second {
    margin: 0;
    grid-column: 1/4;
    grid-row: 2/3;
  }
  body main #flex-container-similar {
    margin: 0;
    grid-column: 1/4;
    grid-row: 3/4;
    width: 100%;
    max-width: 900px;
  }
  body main article img {
    max-width: 500px;
  }
  body footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 5rem 5rem;
    width: 100%;
    grid-column: 1/5;
    grid-row: 3/4;
  }
  body footer input {
    width: 150px;
    height: 30px;
    display: inline-block;
  }
}/*# sourceMappingURL=main.css.map */