*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff;

    #grid-container{
        width: 100%;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        gap: 0rem 0rem;
    }
    
    header{
        margin: 0;
        padding: 10px;
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: sandybrown;

        nav{
            margin: 0;
            overflow: hidden; 
            color: #000000;
            font-size: 2rem;

            .menu{
                margin-right: 40px;
                float: left;
            }

            .navright{
                margin-right: 30px;
                float: right;
            }
        }

        a{
            color: #000000;
            text-decoration: none;
        }

        span{
            text-transform: uppercase;
            color: #000000;
        }

    }

    main{
        margin: 0;
        padding: 10px;
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        overflow: hidden;
        background-color: ffffff;

        .flex-container{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            gap: 1rem 1rem;
        }

        #filter{
            margin-right: 30px;
            font-size: 1.8rem;
            float: right;
            text-align: right;
        }

        #produktbilde{
            margin: 0;
            padding: 5px;
            max-width: 500px;

            img{
                max-width: 500px;
                width: 100%;
            }
        }

        h2{
            margin: 0;
            font-size: 1.3rem;
            color: #000000;
            text-transform: uppercase;
        }


        section{
            margin: 10px;
            margin-top: 15px;
            padding: 5px;
            max-width: 500px;
            min-width: 250px;

            img{
                max-width: 450px;
                width: 100%;
            }

            a{
                color: #000000;
                border: none;
            }

            p{
                margin: 0;
                padding: 0;
            }

            article{
                padding: 3px;
                max-width: 150px;
                width: 100%;
                

                .products-summary{
                    text-transform: lowercase;
                    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-size: 0.8rem;
                }
            }
        }
 
    }

    footer{
        margin: 0;
        padding: 10px;
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
        background-color: sandybrown;
        font-size: 1rem;

        a{
            color:#000000;
            text-decoration: none;
        }

        h3{
            color: #000000;
            font-size: 1.5rem;

        }

        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
                input{
                    background-color: #000000;
                    color: antiquewhite;
                    display: block;
                    margin: 5px auto;
                    width:150px;
                    height: 30px;
                }

    }

}