*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff;

    h2{
        font-size: 1.8rem;
        margin-top: 5px;
        color: #000000;
        text-transform: uppercase;
        }
    }

    h3{
        font-size: 1.5rem;
    }

    #grid-container{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        gap: 0rem 0rem;
    }
    
    header{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: sandybrown;


        #mobile-nav{
            margin: 0;
            overflow: hidden; 
            color: #000000;
            font-size: 2rem;


            .menu{
                margin-right: 40px;
                float: left;
            }

            .navright{
                margin-right: 30px;
                float: right;
            }
        }

        #desktop-nav{
            display: none;
        }

        a{
            color: #000000;
            text-decoration: none;
        }

        span{
            text-transform: uppercase;
            color: #000000;
        }

    }

    main{
        max-width: 500px;
        min-width: 250px;
        margin: 0 auto;
        padding: 10px;
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        overflow: hidden;
        background-color: ffffff;
        
        #campaign{
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;

            img{
                width: 100%;
            }

            a{
                color: #000000;
                border: none;
            }
        }

        #flex-container-newp{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            gap: 1rem 1rem;
            width: 100%;
            max-width: 500px;

            article{
                padding: 3px;
                max-width: 150px;

                img{
                    max-width: 150px;
                }
                
                .products-summary{
                    margin: 0;
                    text-transform: lowercase;
                    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-size: 0.8rem;

                }
            }
        } 

        #filter{
            margin-right: 30px;
            font-size: 1.8rem;
            float: right;
            text-align: right;
        }


        #productphotos{
            margin-top: 1.5rem;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            gap: 1rem 1rem;
                
            img{
            width: 100%;
            }

            article img{
                max-width: 100px;
                max-height: 100px;
            }
        }

        #product-info-first{
            width: 100%;

            ul li{
                list-style-type: none;
            }

            #add-favorite{
                margin-top: 0;
                float: right;
                font-size: 2rem;
    
                a{
                    color: #000000;
                }
                
            }
        }

        #product-info-second{
            width: 100%;

            p{
                margin-top: 0;
                margin-bottom: 3rem;
            }
        }

        #flex-container-similar{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            gap: 1rem 1rem;
            width: 100%;
            max-width: 500px;

            h2{
                margin-top: 0;
                margin-bottom: 10rem;
            }

            article{
                padding: 3px;
                max-width: 150px;

                img{
                    max-width: 150px;
                }
                
                .products-summary{
                    margin: 0;
                    text-transform: lowercase;
                    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-size: 0.8rem;

                }
            }
        }


        #collections-mobile{
            width: 100%;
            margin: 0 auto;

            article img{
            margin-top: 10px;
            padding: 0;
            width: 100%;
            }
        }

        #collections-desktop{
            display: none;
        }
    }

    footer{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
        background-color: sandybrown;
        font-size: 1rem;

        a{
            color:#000000;
            text-decoration: none;
        }

        h3{
            color: #000000;
            font-size: 1.5rem;

        }

        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        
        input{
        background-color: #000000;
        color: antiquewhite;
        display: block;
        margin: 5px auto;
        width: 150px;
        height: 30px;
        }

    }



/* CSS Desktop: Forandringer som skal skje på skjerm */

@media only screen and (min-width: 600px){
    body{

        #grid-container{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-template-rows: auto auto auto;
            gap: 0rem 0rem;
        }

        header{
            width: 100%;
            padding: 0;
            grid-column: 1/5;
            grid-row: 1/2;
        

            #mobile-nav{
                display: none;
            }


            #desktop-nav{
                display: block;
                margin: 0 auto;

                #top-ca{
                    margin: 0;
                    padding: 5px;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    color: orangered;
                    text-align: center;
                }

                #top-nav{
                    margin: 0;
                    padding: 20px;
                    color: #000000;
                    font-size: 2rem;
                    overflow: hidden;
    
                    .navright{
                    margin-right: 30px;
                    float: right;
                    }
                }

                #bottom-nav{
                    margin: 0 auto;
                    background-color: rgb(197, 133, 77);
                    padding: 4px;
                    text-align: center;

                    ul li{
                        padding-left: 12px;
                        padding-right: 12px;
                        display: inline-block;
                        list-style-type: none;
                        text-transform: uppercase;
                        font-size: 1.5rem;
                    }
                }
            }
        }

        main{
            margin: 0 auto;
            max-width: 1000px;
            grid-column: 2/4;
            grid-row: 2/3;
            justify-self: center;

            #campaign{
                margin: 0 auto;
                width: 100%;
                max-width: 800px;

                img{
                    width: 100%;
                    max-width: 800px;
                }
            }

            #flex-container-newp{
                width: 100%;
                max-width: 900px;
                
                article{
                   max-width: 200px;
                
                   img{
                    max-width: 200px;
                }
            }
        }

            #collections-mobile{
                display: none;
            }

            #collections-desktop{
                margin-top: 15px;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-content: center;
                gap: 0.5rem 0.5rem;
                width: 100%;
    
                article{
                    margin: 0;
                    padding: 0;

                    img{
                        width: 400px;
                        height: 250px;
                    }
                }
            }

            #grid-product{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, auto);
                gap: 1rem 1rem;
                align-content: space-evenly;
                align-self: start;
            }
    
            #productphotos{
                margin:0;
                grid-column: 1/2;
                grid-row: 1/2;
                width: 100%;
                max-width: 800px;

                img{
                    width: 100%;
                    max-width: 800px;
                }

                article img{
                    max-width: 100px;
                    max-height: 100px;
                }
            }

            #product-info-first{
                margin: 0;
                grid-column: 2/3;
                grid-row: 1/2;


                #add-favorite{
                    margin-top: 0;
                    padding: 0;
                    display: inline-block;
                    font-size: 2rem;
        
                    a{
                        color: #000000;
                    }
                    
                }
            }

            #product-info-second{
                margin: 0;
                grid-column: 1/4;
                grid-row: 2/3;
            }

            #flex-container-similar{
                margin: 0;
                grid-column: 1/4;
                grid-row: 3/4;
                width: 100%;
                max-width: 900px;
            }


            article img{
                max-width: 500px;
            }
        }

        footer{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            gap: 5rem 5rem;
            width: 100%;
            grid-column: 1/5;
            grid-row: 3/4;

            input{
                width: 150px;
                height: 30px;
                display: inline-block;
            }
        }
    }


}